.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 2rem;
}

.descrition {
  padding: 0 2rem;
  text-align: justify;
  color: #fff;
}
